<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= locals.title %></title>
        <meta name="description" content="<%= locals.description %>">
        <link rel="stylesheet" href="/css/style.css">
        <script type="text/javascript" defer src="/js/script.js"></script>
        <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script> -->
    </head>
    <body>
        
        <div class="container">
            <%- include('../partials/header_admin.ejs') %>
            <main class="main">
                <%- body %>
            </main>
            <%- include('../partials/footer.ejs') %>
        </div>

    </body>
    <!-- <script type="text/javascript" src="node_modules/toastr/build/toastr.min.js"></script> -->
    
</html>